# SendGrid API Configuration
SENDGRID_API_KEY=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

# Optional: Customize sender email (must be verified in SendGrid)
SENDER_EMAIL=gamersffmvp406@gmail.com